.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}
