$base-font-size: 16px;

$button: #ff0000;
$main-background: #c4c4c4;
$background: #e5e5e5;
$text: #000;
$footer: #000;
$text-description: #9c9696;

// media queries
$scree-sm: 640px; // mobile
$scree-md: 768px; // tablet
$scree-lg: 1024px; // laptop
$scree-xl: 1280px; // desktop
